.body--footer {
	position: relative;
    padding: 1em 0 0 0;
    @include clearfix();
}



@media only screen and (min-width: #{$smallTabletBreakpoint}) {
    .footer--logo {
        float: right;
        width: 15rem;
        font-size: .75em;
    }
}