.sources {
    clear: both;
    position: relative;
    width: 100%;
    margin-top: 4rem;
    padding: 1rem;
    background: $darkGrey;
    text-align: left;
	&.active {
		top: auto;
		bottom: 0;
	}
	ol {
		margin-bottom: 0;
        padding: 0;
	}
    li {
        padding-left: 0;
    }
    a {
        color: $linkColor;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $linkColor;
        }
    }
}

	.sources--tab {
		position: absolute;
		left: .5rem;
		bottom: 100%;
		padding: .5rem;
		padding-bottom: (2rem/16);
		background: white;
		border: (1rem/16) solid $lighterGrey;
		border-bottom: 0;
		&:hover,
		&:active,
		&:focus,
		&:visited {
			color: $linkColor;
			border: (1rem/16) solid $lighterGrey;
			border-bottom: 0;
		}
	}

.share-active {
    #sourcesToggle {
        opacity: .5;
    }

    .share--list {
        display: block;
    }
}

.sources-active {
    #shareToggle {
        opacity: .5;
    }

    .sources--list {
        display: block;
    }
}

.sources--list,
.share--list {
    display: none;
}

.sources--nav {
    position: absolute;
    left: 1rem;
    bottom: 100%;
    a {
        display: inline-block;
        position: relative;
        padding: .25rem 1rem;
        background: $darkGrey;
        border: 0;
        color: white;
        font-size: (14rem/16);
        &:first-child {
            margin-right: 1rem;
        }
        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: white;
            border: 0;
            text-decoration: none;
        }
    }
}

.csstransforms {
    .sources--nav a {
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: -1.75rem;
            top: (10rem/16);
            border-top: (22rem/16) solid $darkGrey;
            border-left: (22rem/16) solid transparent;
            border-right: (22rem/16) solid transparent;
            @include transform-rotate(45);
        }
    }
}

.share-options {
    padding: 1em 0;
    a {
        display: inline-block;
        height: (46rem/16);
        width: (46rem/16);
        margin-right: .75rem;
        background: url(../img/share-icons.png) no-repeat left top;
        background-size: auto (46rem/16);
    }
    .twitter { background-position: (-75rem/16) 0; }
    .gplus { background-position: (-151rem/16) 0; }
    .email { background-position: (-226rem/16) 0; }
}

.embed-code-wrapper {
    font-family: $baseFont;
    color: white;
}

.embed-code-wrapper a {
    font-family: $baseFont;
    font-size: .875em;
}

.embed-code {
    width: (300rem/16);
    max-width: 100%;
    background: $lighterGrey;
    color: $darkerGrey;
    font-family: sans-serif;
    opacity: 1 !important;
    cursor: default !important;
    @include box-shadow(none);
    @include rounded(.25rem);
    border: (2rem/16) solid $lighterGrey;
    font-size: .75rem;
    margin: .5rem 0;
}

.static-embed {
    display: none;
}
